@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

nav{
    width: 100% !important;
}

nav.navbar{
    background: #000;
    padding: 5px;
    margin:0 !important;
    width:100% !important;
    min-width:100%;
    position:relative !important;
    color: rgb(136, 108, 6);

}

nav.row{
    margin: 0 !important;
}

.navbar-brand{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    color: rgb(136, 108, 6);
}

.nav-item{
    background: #000;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding-top: 15px;
    color: rgb(136, 108, 6);
    text-decoration: none;
}

.navbar-brand:hover,.nav-item:hover{
    color: rgb(77, 61, 4);
}

.dropdown #dropdownMenuButton1{
    font-weight: lighter;
    font-family: 'Dancing Script', cursive;
    padding: 0;
    padding-top: 4px;
    color: rgb(136, 108, 6);
    font-size: 30px;
    text-decoration: none !important;
    outline: red !important;
    border: none !important;  
}
.dropdown .dropdown-menu{
    background: #000;
    cursor: pointer;
}

.dropdown .btn:focus {
    outline: none;
    box-shadow: none;
}

